@import url("https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono&display=swap");

@mixin font($size, $weight: "") {
  @if $size {
    font-size: $size;
    line-height: $size * 1.4;
  }

  @if $weight {
    font-size: unquote($weight);
  }
}
