/* fx */
.slit {
  -webkit-animation: slit-in-vertical 0.45s 50ms linear both;
  animation: slit-in-vertical 0.45s 50ms linear both;
  overflow: hidden;
}

.shake {
  -webkit-animation: shake-bottom 0.8s 50ms
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-bottom 0.8s 50ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.zoom {
  -webkit-animation: zoom 4s 50ms ease-out forwards;
  animation: zoom 4s 50ms ease-out forwards;
}
