$color-link: #53a7ea;
$color-brown: #994b1b;
$color-beaver: #9e876a;

$color-white: #f4f4f4;
$color-dark-grey: #222;
$color-raisin-black: #2e2419;
$color-gradient-dark: linear-gradient(
  to right,
  rgba($color-dark-grey, 0.4),
  rgba($color-dark-grey, 0.6)
);

$box-shadow: (
  2px 2px 2px darken($color-brown, 5%),
  -2px -2px 2px lighten($color-beaver, 5%)
);
$box-shadow-mobile: (
  2px 2px 2px $color-raisin-black,
  -2px -2px 2px darken($color-white, 15%)
);
$box-shadow-hover: (
  3px 3px 6px darken($color-brown, 8%),
  -1px -1px 2px lighten($color-beaver, 3%)
);
$background-button: lighten($color-raisin-black, 15%);
$box-shadow-button: -4px -4px 7px lighten($color-beaver, 20%),
  4px 4px 7px darken($color-beaver, 20%);
