@import '../../sass/variables';

.hamburger {
  position: fixed;
  top: 3vh;
  right: 3vw;
  z-index: 1;
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;
  text-transform: none;
  color: inherit;
  border: 0;
  background: transparent;
  outline: thin;
  transition: opacity linear;

  &:hover:not(.hamburger--open) {
    .hamburger-inner::before {
      transform: translateY(1px);
    }
    .hamburger-inner::after {
      transform: translateY(-1px);
      background: $color-dark-grey;
    }
  }

  &-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    perspective: 80px;
  }

  &-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
  }

  &-inner,
  &-inner::after,
  &-inner::before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition: transform 500ms linear, background 750ms linear,
      box-shadow 750ms linear;
    border-radius: 8px;
    background: $color-dark-grey;
    box-shadow: $box-shadow;
  }

  &-inner::after,
  &-inner::before {
    display: block;
    content: '';
  }
  &-inner::before {
    top: -10px;
  }
  &-inner::after {
    bottom: -10px;
  }

  &--open &-inner {
    transform: rotateY(180deg);
    background-color: transparent;
    box-shadow: none;
    transition: background 0.1s linear;
  }
  &--open &-inner:before {
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }
  &--open &-inner:after {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
  }

  &-inner--loading,
  &-inner--loading::before,
  &-inner--loading::after {
    background: $color-white;
  }
}
