@import '../../sass/variables';

.hamburger {
  position: fixed;
  width: 28px;
  height: max-content;
  transform: tra;
  top: 5vh;
  right: 5vw;
  z-index: 1;
  padding: 15px;
  cursor: pointer;
  outline: thin;

  @media screen and (max-width: 1150px) {
    &-inner {
      transition: transform 750ms 250ms ease-out, opacity 1500ms 500ms ease-out;
    }

    .open &-inner-top {
      transform: rotate(45deg) translateY(5px);
    }

    .open &-inner-center {
      transform: translateX(-2px) rotateZ(45deg);
      opacity: 0;
      transition: opacity 1500ms 500ms ease-out, transform 750ms 250ms ease-out;
    }
    .open &-inner-bottom {
      transform: rotate(-45deg) translateY(-5px);
    }
  }

  @media screen and (max-width: 450px) {
    top: 1vh;
  }

  &-inner {
    width: 40px;
    height: 4px;
    border-radius: 8px;
    background: $color-dark-grey;
  }

  &-inner-top,
  &-inner-center,
  &-inner-bottom {
    will-change: transform, opacity;
  }

  &-inner-top,
  &-inner-bottom {
    display: block;
    content: '';
  }

  &-inner-top {
    transform: translateY(-6px);
  }

  &-inner-bottom {
    transform: translateY(6px);
  }

  &-inner--white,
  &-inner--white-top,
  &-inner--white-bottom {
    background: $color-white;
  }
}
