@import '../../sass/variables';

.hamburger {
  position: fixed;
  width: 28px;
  height: max-content;
  transform: tra;
  top: 5vh;
  right: 5vw;
  z-index: 1;
  padding: 15px;
  cursor: pointer;
  outline: thin;

  &:hover:not(.open) {
    .hamburger-inner-top {
      transform: translateY(-5px);
    }

    .hamburger-inner-bottom {
      transform: translateY(5px);
    }
  }

  &-inner {
    width: 40px;
    height: 4px;
    border-radius: 8px;
    background: $color-dark-grey;
    transition: transform 250ms 100ms linear;
  }

  &-inner-top,
  &-inner-bottom {
    display: block;
    content: '';
  }

  &-inner-top {
    transform: translateY(-6px);
  }
  .open &-inner-top {
    transform: rotate(45deg) translateY(4px);
  }

  &-inner-center {
    transition: transform 100ms ease-out;
  }
  .open &-inner-center {
    transform: rotateX(180deg) translateY(-4px);
    opacity: 0;
    transition: opacity 50ms ease-out;
  }

  &-inner-bottom {
    transform: translateY(6px);
  }
  .open &-inner-bottom {
    transform: rotate(-45deg) translateY(-6px);
  }

  &-inner--white,
  &-inner--white-top,
  &-inner--white-bottom {
    background: $color-white;
  }
}
