.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 1vh 15vw;
  min-height: 93vh;
}
.section-header {
  margin-top: 1rem;
  padding: 5px;
}
.contact-section {
  display: flex;
  flex-direction: column;
  min-height: 93vh;
}
/* form */
.contact-form {
  display: flex;
  flex-direction: column;
}
.form-header {
  font-size: 2rem;
  padding: 5px;
}
.contact-form > .user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form .input {
  border: 0;
  background: #333;
  color: #f4f4f4;
  padding: 5px;
  margin: 0.5rem;
  min-height: 5vh;
  font-size: 1rem;
}
.contact-form .input::placeholder {
  color: #999;
  font-size: 1rem;
}
.contact-form .input-message::placeholder {
  font-size: 1rem;
}
.contact-form .input-message {
  font-size: 1.1rem;
  height: 35vh;
  color: #f4f4f4;
  resize: none;
}
.btn-submit {
  margin: 1vh 10px 1vh auto;
}
.input-message:focus {
  font-size: 1.2rem;
}
/* banners */
.contact .banners {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: auto 0.5rem 5vh;
}
.contact-icon {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 2.5rem;
}
.contact-icon:hover {
  color: #999;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.profile-pic {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url(https://images.pexels.com/photos/33999/pexels-photo.jpg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940)
      no-repeat;
  background-size: cover;
  margin: 5vh 5vw;
}
