@import '../../sass/font';
@import '../../sass/variables';
@import '../../animations/zoom';

.contact {
  display: flex;
  flex-direction: column;

  &-section {
    margin: 0 30vw;
  }
}

/* form */
.contact-form {
  display: flex;
  flex-direction: column;

  &-user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .input {
    border: 0;
    background: linear-gradient(
      to right,
      rgba($color-dark-grey, 0.8),
      rgba($color-dark-grey, 0.6)
    );
    box-shadow: $box-shadow;
    color: $color-white;
    padding: 5px 8px;
    margin: 8px 0;
    height: 6vh;
    @include font(1.1rem);
    border-radius: 8px;
    outline: thin;
    width: 100%;

    &::placeholder {
      color: #ccc;
      @include font(1.1rem);
    }

    &:focus,
    &-message:focus {
      background: linear-gradient(
        rgba($color-dark-grey, 0.8),
        rgba($color-dark-grey, 0.8)
      );
      outline: thin 1px double;
    }

    &-message {
      @include font(1.1rem);
      height: 35vh;
      color: $color-white;
      resize: none;
      padding: 10px 15px;
    }
  }
}

.banner {
  &-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 1vh 0.5rem 0;
    width: max-content;
    margin-top: calc(-35px - 0.5rem);
  }

  &-icon {
    transition: color 300ms cubic-bezier(0.19, 1, 0.22, 1);
    @include font(2.5rem);
    color: $color-raisin-black;
    animation: changeColor 2s alternate-reverse 2;
    margin: 0 5px;

    &:hover {
      animation: changeColor 750ms alternate-reverse infinite;
    }
  }
}

@keyframes changeColor {
  from {
    color: $color-white;
  }
  to {
    color: $color-raisin-black;
  }
}

.contact-text {
  color: $color-link;
}

@media screen and (min-width: 1700px) {
  .banner-icon {
    @include font(3.5rem);
  }

  .contact-form .input-message::placeholder,
  .contact-form .input::placeholder {
    @include font(1.4rem);
  }
}

@media (orientation: landscape) and (max-width: 1150px) {
  .section-header {
    @include font(1.7rem);
  }

  .contact .input::placeholder {
    @include font(0.9rem);
  }

  .btn-submit {
    display: flex;
    align-items: center;
    min-height: 35px;
    @include font(1rem);
  }
}

@media screen and (max-width: 850px) {
  .contact {
    &-section {
      margin: 0 20vw;
    }
    @include font(1.1rem);
  }
  .contact .section-header {
    margin-left: 10px;
  }
}

@media screen and (max-width: 450px) {
  .contact {
    @include font(1rem);

    &-section {
      margin: 0 2vw;
    }
  }

  .contact .input {
    @include font(1rem);
    background: linear-gradient(
      to right,
      rgba($color-dark-grey, 0.7),
      rgba($color-dark-grey, 0.9)
    );
  }
}
