@import "../../css/zoom.css";

.contact-section {
  overflow: hidden;
}
.contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25vw;
  bottom: 5vh;
}
.contact > .section-header {
  margin: 0.5rem;
}
/* form */
.contact-form {
  display: flex;
  flex-direction: column;
}
.form-header {
  font-size: 2rem;
  padding: 5px;
}
.contact-form > .user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form .input {
  border: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  color: #f4f4f4;
  padding: 5px;
  margin: 0.5rem;
  min-height: 5vh;
  font-size: 1rem;
  border-radius: 2px;
}
.contact-form .input::placeholder {
  color: #ccc;
  font-size: 1rem;
}
.contact-form .input-message::placeholder {
  font-size: 1rem;
}
.contact-form .input-message {
  font-family: overpass;
  font-size: 1rem;
  height: 35vh;
  color: #f4f4f4;
  resize: none;
}
.btn-submit {
  margin: 1.5vh 10px 1vh auto;
  background: linear-gradient(
    rgba(160, 152, 109, 0.5),
    rgba(173, 167, 134, 0.4)
  );
}
.input-message:focus {
  font-size: 1.2rem;
}
.contact .banners {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 1vh 0.5rem 0;
}
.contact-icon {
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 2.5rem;
  color: #2e2419;
}
.contact-icon:hover {
  color: #994b1b;
}
.card {
  position: absolute;
  top: 5%;
}
@media screen and (max-width: 800px) {
  .contact {
    font-size: 1.2rem;
    top: 15vh;
    left: 0;
    right: 0;
    bottom: 5vh;
  }
  .contact .input {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .contact {
    font-size: 1rem;
    top: 15vh;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .contact .input {
    font-size: 0.5rem;
  }
}
