@import '../../sass/font';
@import '../../sass/variables';
@import '../../animations/zoom';

.contact {
  display: flex;
  flex-direction: column;

  &-section {
    margin: 0 30vw;
  }
}

/* form */
.contact-form {
  display: flex;
  flex-direction: column;

  &-user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .input {
    display: flex;
    align-items: center;
    border: 0;
    background: linear-gradient(to right, rgba($color-dark-grey, 0.8), rgba($color-dark-grey, 0.6));
    box-shadow: $box-shadow;
    color: $color-white;
    @include font(1.1rem);
    padding: 1vh 1vw;
    margin: 8px 0;
    border-radius: 8px;
    outline: thin;
    width: 100%;

    &::placeholder {
      color: #ccc;
    }

    &:focus,
    &-message:focus {
      background: linear-gradient(rgba($color-dark-grey, 0.8), rgba($color-dark-grey, 0.8));
      outline: thin 1px double;
    }

    &-message {
      height: 35vh;
      resize: none;
      padding: 2vh 1vw;
      color: $color-white;
      font-family: 'Overpass';
    }
  }
}

.banner {
  &-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 1vh 0.5rem 0;
    width: max-content;
    margin-top: calc(-35px - 0.5rem);
  }

  &-icon {
    transition: color 300ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 29px;
    fill: $color-raisin-black;
    animation: changeColor 2s alternate-reverse 2;
    margin: 0 5px;

    &:hover {
      animation: changeColor 750ms alternate-reverse infinite;
    }

    @keyframes changeColor {
      from {
        fill: $color-white;
      }
      to {
        fill: $color-raisin-black;
      }
    }
  }
}

.contact-text {
  color: $color-link;
}

@media screen and (min-width: 1700px) {
  .contact-form .input-message::placeholder,
  .contact-form .input::placeholder {
    @include font(1.4rem);
  }
}

@media (orientation: landscape) and (max-width: 1150px) {
  .section-header {
    @include font(1.7rem);
  }

  .contact .input::placeholder {
    @include font(0.9rem);
  }

  .btn-submit {
    @include font(1rem);
  }
}

@media screen and (max-width: 850px) {
  .contact {
    &-section {
      margin: 0 20vw;
    }
    @include font(1.1rem);
  }
  .contact .section-header {
    margin-left: 10px;
  }
}

@media screen and (max-width: 450px) {
  .contact {
    @include font(1rem);

    &-section {
      margin: 0 2vw;
    }
  }

  .contact .input {
    @include font(1rem);
    background: linear-gradient(to right, rgba($color-dark-grey, 0.7), rgba($color-dark-grey, 0.9));
  }
}
