@import '../../sass/variables';
@import '../../sass/font';
@import '../../sass/_colors';
@import '../../animations/blink';

.index {
  min-height: 100vh;
}

.content {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 25%;

  @media screen and (max-width: 1150px) {
    top: 15%;
    left: 10%;
    right: auto;
  }

  @media (orientation: landscape) and (max-width: 1150px) {
    top: 25%;
    left: 10%;
    right: auto;
  }

  @media screen and (max-width: 650px) {
    top: 2%;
    left: 5%;
  }

  @media (orientation: landscape) and (max-width: 1150px) {
    @include font(1rem);
  }
}

.showcase-header {
  cursor: default;
  color: $color-white;
  background: $color-gradient-dark;
  box-shadow: $box-shadow;
  border-radius: 8px;
  padding: 2px 8px 0;

  &--pulse {
    z-index: 1;
    position: relative;

    &:hover {
      cursor: default;
    }

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform-origin: center;
      transform: scale(1);
    }

    &:hover::before {
      transition: all 1250ms linear;
      transform-origin: center;
      transform: scale(1.3);
      opacity: 0;
      border: 1px solid $color-dark-grey;
    }
  }

  @media screen and (max-width: 1150px) {
    @include font(2rem);
  }
}

.typewriter {
  &-text {
    cursor: default;
    color: $color-dark-grey;
    padding-left: 10px;

    @media screen and (max-width: 1150px) {
      color: $color-white;
    }
  }

  &--blink {
    animation: blink 0.75s step-end infinite;
  }
}

.home-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  margin-left: 47vw;
  margin-right: 5vw;
  padding: 1rem;
  min-width: 300px;
  max-width: 35vw;
  top: 55vh;
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: $color-white;
  border-radius: 8px;
  box-shadow: $box-shadow;
  background: linear-gradient(
    rgba($color-dark-grey, 0.7),
    rgba($color-dark-grey, 0.8)
  );
  z-index: 1;
  transition: transform 1s ease-out; // this is handled in Home.jsx

  &::before {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    content: '';
    background: linear-gradient(
      rgba($color-dark-grey, 0.7),
      rgba($color-dark-grey, 0.9)
    );
    border-radius: 8px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s linear;
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    cursor: default;
  }

  @media screen and (max-width: 1150px) {
    max-width: 90vw;
  }

  @media (orientation: landscape) and (max-width: 1150px) {
    top: 25%;
    right: auto;
  }

  @media screen and (max-width: 650px) {
    max-width: 80vw;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  &-paragraph {
    padding: 8px 0;
  }
}
