@import '../../sass/variables';
@import '../../sass/font';
@import '../../sass/_colors';
@import '../../animations/blink';

.index {
  min-height: 100vh;
}

.content {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 25%;

  @media screen and (max-width: 1150px) {
    top: 10%;
    left: 20%;
    right: auto;
  }

  @media screen and (max-width: 850px) {
    top: 0%;
    left: 5%;
  }

  @media (orientation: landscape) and (max-width: 1150px) {
    @include font(1rem);
  }
}

.showcase-header {
  cursor: default;
  color: $color-white;
  background: $color-gradient-dark;
  box-shadow: $box-shadow;
  border-radius: 8px;
  padding: 0 8px;

  &--pulse {
    z-index: 1;
    position: relative;

    &:hover {
      cursor: default;
    }

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform-origin: center;
      transform: scale(1);
    }

    &:hover::before {
      transition: all 1250ms linear;
      transform-origin: center;
      transform: scale(1.3);
      opacity: 0;
      border: 1px solid $color-dark-grey;
    }
  }

  @media screen and (max-width: 1150px) {
    @include font(2rem);
  }
}

.typewriter-text {
  animation: blink 0.75s step-end infinite;
  border-right: 4px solid;
  cursor: default;
  color: $color-dark-grey;
  padding-left: 10px;

  @media screen and (max-width: 1150px) {
    color: $color-white;
  }
}

.home-description {
  text-align: justify;
  position: absolute;
  right: 15vw;
  top: 55vh;
  padding: 1rem;
  min-width: 300px;
  max-width: 30vw;

  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  background: linear-gradient(
    rgba($color-dark-grey, 0.7),
    rgba($color-dark-grey, 0.8)
  );
  color: $color-white;
  border-radius: 8px;
  box-shadow: $box-shadow;

  &:hover {
    background: linear-gradient(
      rgba($color-dark-grey, 0.9),
      rgba($color-dark-grey, 1)
    );
    cursor: default;
  }

  @media screen and (max-width: 1150px) {
    max-width: 80vw;
  }

  @media (orientation: landscape) and (max-width: 1150px) {
    top: 35%;
    left: 20%;
  }
}
