@import "../../sass/variables";
@import "../../sass/_font";
@import "../../sass/_colors";
@import "../../animations//blink";

.index {
  overflow: hidden;
}

.content {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 25%;
}

.typewriter-text {
  animation: blink 0.75s step-end infinite;
  border-right: 4px solid;
  cursor: default;
  color: $color-dark-grey;
  padding-left: 10px;
}

.home-description {
  display: flex;
  align-items: center;
  text-align: justify;
  position: absolute;
  right: 15vw;
  bottom: 10vh;
  padding: 1rem;
  min-width: 300px;
  max-width: 30vw;
  height: max-content;
  min-height: min-content;
  @include font(1rem);
  background: linear-gradient(
    rgba($color-dark-grey, 0.7),
    rgba($color-dark-grey, 0.8)
  );
  color: $color-white;
  border-radius: 8px;

  &:hover {
    background: linear-gradient(
      rgba($color-dark-grey, 0.9),
      rgba($color-dark-grey, 1)
    );
    cursor: default;
  }
}

@media screen and (max-width: 1150px) {
  .content {
    top: 10%;
    left: 20%;
    right: auto;
    color: $color-white;
  }

  .home-description {
    @include font(0.8rem);
    left: 20%;
    right: 20%;
    top: 40%;
    max-width: 100vw;
  }
}

@media screen and (max-width: 850px) {
  .content {
    top: 2%;
    left: 5%;
  }

  .showcase-header {
    margin-bottom: 25%;
  }

  .home-description {
    left: 5%;
    right: 5%;
  }
}
