.index::after {
  content: "";
  background: url(https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&auto=format&fit=crop&w=1031&q=80)
    no-repeat center;
  background-size: cover;
  height: 93vh;
  width: 100%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;
}

.index-icon {
  font-size: 3rem;
}

.content {
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 15%;
}

.typewriter-text {
  animation: blink 0.75s step-end infinite;
  border-right: 4px solid;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media screen and (max-width: 450px) {
  .content {
    font-size: 1.2rem;
    left: 5vw;
    right: 0;
    margin: 0 auto;
    text-align: left;
  }
}
