$rich: #001219;
$sapphire: #005f73;
$viridian: #0a9396;
$middle: #94d2bd;
$champagne: #e9d8a6;
$gamboge: #ee9b00;
$alloy: #ca6702;
$mahogany: #bb3e03;
$rufous: #ae2012;
$ruby: #9b2226;
$text: #f4f4f4;
