@import '../sass/variables';
@import '../animations/slide.scss';
@import '../sass/font';

.nav {
  &-link {
    width: max-content;
    color: $color-raisin-black;
    text-transform: capitalize;
    font-family: 'Overpass Mono', monospace;
    padding: 5px;
    border-radius: 8px;
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    transition: background-color 5s linear;

    @media screen and (max-width: 650px) {
      &--active {
        color: $color-dark-grey;
      }
    }

    &:hover {
      color: $color-white;
      background: $color-beaver;
      box-shadow: $box-shadow;

      @media screen and (max-width: 650px) {
        background: $color-raisin-black;
        box-shadow: $box-shadow-mobile;
      }
    }
  }

  &-list {
    @media screen and (max-width: 950px) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 70vw;
      padding: 0 2vw;
    }
  }
}

.btn-nav-close {
  right: 16px;
  bottom: 16px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  align-self: flex-end;
  border: 0;
  margin-left: auto;
  color: $color-raisin-black;
  background: linear-gradient(145deg, #cfbeab, #aea090);
  box-shadow: 3px 3px 5px #7f756a, -3px -3px 5px #e7d9c1;
  outline: thin;

  @media screen and (max-width: 650px) {
    margin-top: 1rem;
    margin-left: initial;
  }

  &:hover {
    background: linear-gradient(150deg, #cfbeab, #aea090);
    box-shadow: 3px 3px 5px #6e655c, -2px -2px 3px #e7d9c1;
  }

  &:active {
    right: 15px;
    bottom: 15px;
    box-shadow: 1px 1px 3px #6e655c, -1px -1px 3px #e7d9c1;
  }
}
