@import '../sass/variables';
@import '../animations/slide.scss';
@import '../sass/_font';

$transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
.nav {
  &-link {
    width: 450px;
    color: $color-raisin-black;
    padding: 5px 5px 5px 0;
    text-transform: capitalize;

    &:hover {
      color: $color-white;
      padding: 5px;
      background: $color-beaver;
      box-shadow: $box-shadow;
      border-radius: 8px;
    }
  }
}

@media (orientation: landscape) and (max-width: 1150px) {
  .nav {
    &-link {
      @include font(2rem);
    }
  }
}

@media screen and (max-width: 650px) {
  .nav {
    &-list {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
      min-height: 30vh;
      margin-top: 15px;
    }
    &-link {
      @include font(1.5rem);

      &--active {
        color: $color-dark-grey;
      }
    }
  }

  .navbar {
    font-size: 1rem;
  }
}

.btn-nav-close {
  right: 16px;
  bottom: 16px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  align-self: flex-end;
  border: 0;
  margin-left: auto;
  color: $color-raisin-black;
  background: linear-gradient(145deg, #cfbeab, #aea090);
  box-shadow: 3px 3px 5px #7f756a, -3px -3px 5px #e7d9c1;
  outline: thin;

  @media screen and (max-width: 650px) {
    margin-top: 1rem;
    margin-left: initial;
  }

  &:hover {
    background: linear-gradient(150deg, #cfbeab, #aea090);
    box-shadow: 3px 3px 5px #6e655c, -2px -2px 3px #e7d9c1;
  }

  &:active {
    right: 15px;
    bottom: 15px;
    box-shadow: 1px 1px 3px #6e655c, -1px -1px 3px #e7d9c1;
  }
}
