@import '../sass/variables';
@import '../animations/slide.scss';

.page-overview {
  position: fixed;
  min-width: 20vw;
  padding: 16px;
  z-index: 1;
  border: 0;
  border-radius: 8px;
  color: $color-dark-grey;
  transform: translate(70vw, 10vh);
  box-shadow: -2px -2px 4px lighten($color-beaver, 20%),
    4px 4px 7px darken($color-beaver, 20%);
  background-image: radial-gradient(
    ellipse farthest-corner at 10px 10px,
    #c1b2a0 0%,
    rgba(#c1b2a0, 0.5)
  );

  @media screen and (max-width: 850px) {
    border-radius: 0;
    border-bottom-right-radius: 8px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;

    box-shadow: none;
  }

  @media screen and (max-width: 650px) {
    background-image: radial-gradient(
      ellipse farthest-corner at 10px 60px,
      $color-white 0%,
      rgba($color-dark-grey, 0.2)
    );
  }
}
