@import "../variables";

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 700px;
  margin: auto;
  padding: 16px;
  height: min-content;
  opacity: 0.8;
  z-index: 2;
  border: none;
  border-radius: 8px;
  background: #c1b2a0;
  color: $color-dark-grey;
}
