@import "../sass/variables";
@import "../animations/slide.scss";

.control-menu {
  position: fixed;
  min-width: 40vw;
  height: min-content;
  left: 50%;
  top: 50%;
  padding: 16px;
  z-index: 2;
  border: 0;
  border-radius: 8px;
  color: $color-dark-grey;
  transform: translate(-50%, -50%);
  background: rgba(#c1b2a0, 0.9);

  @media screen and (max-width: 850px) {
    left: 0;
    top: 0%;
    border-radius: 0;
    background: linear-gradient(
      90deg,
      rgba($color-white, 0.9),
      rgba($color-white, 0.6)
    );
    height: 100%;
    width: 0vw;
    min-width: 200px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
  }
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}
