@import "../../sass/variables";
@import "../../sass/font";
@import "../../animations/shake.scss";
@import "../../animations/slit.scss";
@import "../../animations/appear.scss";

.skills {
  display: flex;
  flex-direction: column;
}

.skill {
  &-title {
    cursor: default;
    font-size: 1.8rem;
    padding: 15px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    gap: 4vh 1vw;
    color: $color-white;
  }

  &-li {
    background: rgba($color-dark-grey, 0.3);
    box-shadow: $box-shadow;
    border-radius: 8px;
  }
}

.logos {
  &-container {
    width: 100%;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-content: space-between;
  }
}

.img {
  &-container {
    opacity: 0;
    animation: appear 1250ms linear forwards;
  }

  &-caption {
    text-align: center;
    color: $color-white;
    @include font(1.1rem);
  }

  &-skill {
    display: block;
    margin: 0 auto 1rem;
    width: 80px;
  }
}
