@import "../../css/shake.css";
@import "../../css/slit.css";
@import "../../css/flicker.css";

.skills {
  display: flex;
  flex-direction: column;
  min-height: min-content;
  height: max-content;
}
.skill-title {
  cursor: default;
  font-size: 1.8rem;
  padding: 5px;
}
.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-gap: 4vh 1vw;
}
.skill-li {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(100, 100, 100, 0.4)
  );
}
.logos-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 1rem;
}
.logos-container .img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logos-container .img-container {
  cursor: default;
}
.logos-container .skill-img {
  height: 75px;
  margin: auto;
}
.logos-container .skill-img.hb {
  height: 30px;
}
.logos-container .img-caption {
  padding: 3vh 1vw;
  padding-bottom: 0;
}
@media screen and (max-width: 800px) {
  .logos-container .img-caption {
    font-size: 1rem;
  }
}
