@import '../../sass/variables';
@import '../../sass/_font';
@import '../../animations/shake.scss';
@import '../../animations/slit.scss';
@import '../../animations/appear.scss';

.skills {
  display: flex;
  flex-direction: column;
}

.skill {
  &-title {
    cursor: default;
    font-size: 1.8rem;
    padding: 15px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    gap: 4vh 1vw;
    color: $color-white;
  }

  &-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $color-gradient-dark;
    box-shadow: $box-shadow;
    border-radius: 8px;
  }
}

.logos {
  &-container {
    width: 100%;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: flex-end;
  }
}

.img {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0;
    animation: appear 1250ms linear forwards;
  }

  &-caption {
    padding: 3vh 1vw;
    padding-bottom: 0;
    color: $color-white;
    @include font(1.1rem);
  }

  &-skill {
    max-width: 80px;
  }
}
