@import './sass/variables';
@import './sass/font';
@import './sass/fx';
@import './animations/appear.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: env(safe-area-inset);
}

body {
  width: 100%;
  color: $color-dark-grey;
  @include font(27px);
  scroll-behavior: smooth;
}

body,
button,
input::placeholder,
input::-webkit-input-placeholder {
  font-family: 'Overpass', sans-serif;
}

h1 {
  @include font(2.7rem);
}

h2 {
  @include font(2.5rem);
}

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $color-dark-grey inset;
  -webkit-text-fill-color: $color-white;
}

button {
  all: unset;
}

.btn {
  border: 0;
  border-radius: 25px;
  color: $color-dark-grey;
  width: max-content;
  padding: 0.4rem 1rem;
  cursor: pointer;
  @include font(1rem);
  outline: thin;

  &-submit {
    margin: 1.5vh 10px 0 auto;
    background: linear-gradient(145deg, #cfbeab, #aea090);
    box-shadow: $box-shadow-button;

    &:hover {
      box-shadow: $box-shadow-button-hover;
    }

    &:active {
      box-shadow: $box-shadow-button-active;
    }
  }

  &--link {
    border: 0;
    background: transparent;
    box-shadow: none;
    width: 100%;

    &:hover {
      opacity: 0.9;
    }
  }
}

.section {
  min-height: 100vh;
  height: min-content;
  padding: 1vh 12vw 10vh;

  &-header {
    margin: 3vh 0 4vh 0;
    padding: 5px;
    color: $color-white;
    border-radius: 8px;
    cursor: default;
  }
}

.bg,
.second-bg {
  position: fixed;
  height: 105%;
  width: 105%;
  z-index: -1;
}

.bg {
  background: linear-gradient(
      to right,
      rgba($color-dark-grey, 0.4),
      rgba($color-dark-grey, 0.2)
    ),
    url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')
      no-repeat center;
  background-size: cover;
  transition: background 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.bg-icon {
  font-size: 3rem;
}

.second-bg {
  background: linear-gradient(
      rgba($color-dark-grey, 0.1),
      rgba($color-dark-grey, 0.3)
    ),
    url('https://images.pexels.com/photos/1422286/pexels-photo-1422286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
      no-repeat;
  background-size: cover;
}

/* magic */
.Toastify__toast {
  border-radius: 8px !important;

  &-body {
    padding: 1rem;
    @include font(1.3rem);
  }
}

@media screen and (min-height: 1100px) {
  body {
    @include font(6rem);
  }

  h1 {
    @include font(8rem);
  }

  .btn {
    @include font(4rem);
  }
}

@media screen and (max-width: 850px) {
  .bg,
  .second-bg {
    z-index: -1;
  }

  body {
    @include font(1.2rem);
  }

  .section {
    padding: 1vh 10vw 5vh;

    &-header {
      margin: 3vh auto 4vh 0;
    }
  }

  input[type='text']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder {
    appearance: none;
    -webkit-appearance: none;
  }
}

@media screen and (max-width: 450px) {
  .bg {
    background: linear-gradient(
        rgba($color-dark-grey, 0.4),
        rgba($color-dark-grey, 0.5)
      ),
      url('./assets/bg.jpg') center no-repeat;
  }

  .second-bg {
    background: linear-gradient(
        rgba($color-dark-grey, 0.1),
        rgba($color-dark-grey, 0.2)
      ),
      url('./assets/secondBg.jpg') center no-repeat;
  }

  .bg,
  .second-bg {
    background-size: cover;
  }
  .section {
    padding: 1vh 10vw 5vh;
    &-header {
      margin-right: auto;
      text-shadow: 2px 2px 2px $color-dark-grey,
        -2px -2px 2px darken($color-white, 10%);
    }
  }

  h1 {
    @include font(1.7rem);
  }

  h2 {
    @include font(1.5rem);
  }

  .btn {
    @include font(1rem);
  }
}
