@import "../../sass/variables";

.four-oh-four {
  min-height: 85vh;
  color: $color-white;
  background: linear-gradient(
      rgba($color-dark-grey, 0.5),
      rgba($color-dark-grey, 0.5)
    ),
    url("https://images.pexels.com/photos/1280162/pexels-photo-1280162.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
      center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 5%;

  @media screen and (max-width: 500px) {
    background: linear-gradient(
        rgba($color-dark-grey, 0.3),
        rgba($color-dark-grey, 0.3)
      ),
      url("../../assets/404.jpg") center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  &__title {
    text-align: center;
    color: $color-white;
    padding: 5px;
  }

  &__link {
    background: rgba($color-dark-grey, 0.3);
    color: $color-white;
    border-radius: 8px;
    padding: 8px;

    &:hover {
      background: rgba($color-dark-grey, 0.6);
    }
  }

  &__icon {
    margin-right: 15px;
  }
}
