@import "../../sass/variables";

.loading {
  &-screen {
    min-height: 100vh;
    overflow: hidden;
    background: $color-dark-grey;
  }

  &-icon {
    margin-bottom: 55px;
  }

  &-contact-icon {
    color: $color-white;
    font-size: 6rem;
  }

  &-content {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15vh 15vw;
    color: $color-white;
    text-align: center;
  }
}
