@import '../../sass/variables';

.project,
.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: min-content;
}

.projects {
  &-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  &-list {
    min-height: min-content;
  }

  &-controller {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    margin: 0 auto;
    display: flex;
    place-content: center;
    color: $color-beaver;
    background: lighten($color-raisin-black, 15%);
    box-shadow: -4px -4px 7px lighten($color-beaver, 20%),
      4px 4px 7px darken($color-beaver, 20%);
    border-radius: 50%;
    width: min-content;
    cursor: pointer;
    transition: color 150ms cubic-bezier(0.39, 0.575, 0.565, 1),
      box-shadow 150ms cubic-bezier(0.39, 0.575, 0.565, 1),
      transform 150ms cubic-bezier(0.39, 0.575, 0.565, 1);

    &:hover {
      color: lighten($color-beaver, 5%);
      box-shadow: -4px -4px 5px lighten($color-beaver, 15%),
        4px 4px 5px darken($color-beaver, 15%);
    }

    &-reverse {
      transform: rotate(180deg);
      box-shadow: 4px 4px 7px lighten($color-beaver, 20%),
        -4px -4px 7px darken($color-beaver, 20%);

      &:hover {
        box-shadow: 4px 4px 5px lighten($color-beaver, 15%),
          -4px -4px 5px darken($color-beaver, 15%);
      }
    }
  }
}

.project {
  &-title {
    max-width: max-content;
    margin-bottom: 16px;
    font-size: calc(16px + (32 - 18) * ((100vw - 300px) / (1600 - 300)));
    color: $color-white;
    text-shadow: 2px 2px 2px $color-raisin-black, -2px -2px 2px $color-beaver;

    &:hover {
      text-shadow: 3px 3px 6px $color-raisin-black, -2px -2px 3px $color-beaver;
      -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  &-content {
    opacity: 0;
    margin: 12vh 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-end;
    transition: opacity 1s linear;

    &-loaded {
      opacity: 1;
    }
  }

  &-img {
    &-container {
      display: flex;
      align-items: flex-end;
    }

    max-width: 100%;
    box-shadow: $box-shadow;
    border-radius: 8px;
    transition: box-shadow 500ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      box-shadow: $box-shadow-hover;
    }

    &:active {
      box-shadow: $box-shadow;
      margin-left: 1px;
      margin-top: 1px;
    }
  }

  &-description {
    cursor: default;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-left: 15px;
    padding: 15px 30px;
    color: $color-white;
    background: rgba($color-dark-grey, 0.3);
    box-shadow: $box-shadow;
    border-radius: 8px;
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}

@media screen and (max-width: 850px) {
  .portfolio-header {
    text-align: center;
    margin: 1rem 0 6vh;
  }
}

@media screen and (max-width: 450px) {
  .projects {
    &-container {
      grid-template-columns: repeat(auto-fit, minmax(151px, 1fr));
    }
  }

  .project {
    &-img {
      min-width: 150px;
      max-width: 100%;
      box-shadow: $box-shadow-mobile;

      &:active,
      &:enabled {
        margin-left: 1px;
        margin-top: 1px;
      }
    }

    &-title {
      font-size: 1.5rem;
      text-shadow: 2px 2px 2px $color-dark-grey,
        -2px -2px 2px darken($color-white, 10%);
    }
  }
}
